---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import OurStory from '../components/OurStory.astro';
import Schedule from '../components/Schedule.astro';
import Egentid from '../components/Egentid.astro';
import Location from '../components/Location.astro';
import PracticalInfo from '../components/PracticalInfo.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <main class="overflow-x-hidden min-h-screen">
    <Hero />
    <OurStory />
    <Schedule />
    <Egentid />
    <Location />
    <PracticalInfo />
    <Footer />
  </main>
</Layout>
