---
import { weddingConfig } from '../config';
---

<footer class="py-16 px-4 bg-brand-bg text-center space-y-4">
  <div class="w-8 h-[1px] bg-brand-title/20 mx-auto mb-6"></div>
  
  <p class="font-wedding text-4xl md:text-5xl text-brand-title select-none">
    {weddingConfig.names.bride.charAt(0)} & {weddingConfig.names.groom.charAt(0)}
  </p>

  <p class="font-sans text-xs uppercase tracking-widest text-brand-text/70">
    Vi gleder oss til å feire dagen med dere!
  </p>

  <div class="flex justify-center gap-6 text-xs uppercase tracking-wider text-brand-title font-medium pt-4 select-none">
    <a href="/rsvp" class="hover:underline">Svar på invitasjon</a>
    <span class="text-brand-title/20">|</span>
    <a href="/bordoppsett" class="hover:underline">Bordplassering</a>
  </div>

  
  <p class="font-sans text-[10px] text-brand-text/50 pt-8">
    &copy; {new Date().getFullYear()} &mdash; Laget med kjærlighet
  </p>
</footer>
